{% extends 'base.html' %}
{% block content %}
    {% if error %}
    <h2>Возникла ошибка, попробуйте снова</h2>
    <p><small>{{ error }}</small></p>

    {% elif report %}
    <h2>Файл <i>{{ report.report_name }}</i> загружен</h2>

    <hr>
    <a class="btn btn-success" href="/results/{{report.report_id}}">Посмотреть результат по <i>{{ report.report_name }}</i></a>
    {% else %}
        <h3>Загрузите XML файл для дальнейшей работы</h3>
        <form enctype="multipart/form-data" method="post">
            <p>
                <input type="file"  accept="text/xml" name="file" />
            </p>
            <p>
                <input id="button" type="submit" value="Отправить" />
            </p>
        </form>

    {% endif %}

{% endblock %}